@import "fonts"
@import "libs"
@import "vars"

html,body
    max-width: 100vw
    overflow-x: hidden

h2
    text-indent: 223px
    font-family: TT Commons
    font-style: normal
    font-weight: normal
    line-height: 106.1%
    font-size: 66px
    letter-spacing: -0.02em
    margin: 0


.queez2
    h2
        letter-spacing: -0.01em
    .select-container
        margin-top: 188px

.queez3
    h2
        letter-spacing: -0.01em
    .select-container
        margin-top: 188px

.queez4
    h2
        letter-spacing: -0.01em
    .select-container
        margin-top: 257px

.queez5
    h2
        letter-spacing: -0.01em
    .select-container
        margin-top: 188px

.queez6
    h2
        letter-spacing: -0.01em
    .select-container
        margin-top: 188px

.queez7
    h2
        letter-spacing: -0.01em
    .select-container
        margin-top: 188px

.queez8
    h2
        letter-spacing: -0.01em
    .select-container
        margin-top: 188px

.queez9
    h2
        letter-spacing: -0.01em
    .select-container
        margin-top: 257px

.queez10
    h2
        letter-spacing: -0.01em
    .select-container
        margin-top: 173px

.queez11
    h2
        letter-spacing: -0.02em
    .select-container
        margin-top: 188px



.queez-container
    max-width: 1270px
    margin-left: auto
    margin-right: auto

/* 833px */

.queez
    min-height: 100vh
    padding-top: 54px
    background-repeat: no-repeat
    background-position: top right

.queez1
    background-image: url(../images/bgqueez1.png)

.queez2
    background-image: url(../images/bgqueez1.png)
    background-position: top right

.queez3
    background-image: url(../images/bgqueez1.png)
    background-position: top right

.queez4
    background-image: url(../images/bgqueez1.png)
    background-position: top right

.queez5
    background-image: url(../images/bgqueez1.png)
    background-position: top right

.queez6
    background-image: url(../images/bgqueez1.png)
    background-position: top right

.queez7
    background-image: url(../images/bgqueez1.png)
    background-position: top right

.queez8
    background-image: url(../images/bgqueez1.png)
    background-position: top right

.queez9
    background-image: url(../images/bgqueez1.png)
    background-position: top right

.queez10
    background-image: url(../images/bgqueez1.png)
    background-position: top right

.queez11
    background-image: url(../images/bgqueez1.png)
    background-position: top right

.hiv-label
    font-family: TT Commons
    font-style: normal
    font-weight: normal
    font-size: 30px
    line-height: 86.1%
    letter-spacing: -0.02em
    color: #D8E1F4
    position: absolute
    margin-top: 9px

.select-container
    max-width: 80%
    margin-left: auto
    margin-top: 246px
    padding-left: 192px
    margin-bottom: 130px
    position: relative

.queez-num
    left: 0
    font-family: TT Commons
    font-style: normal
    font-weight: normal
    font-size: 15px
    line-height: 86.1%
    letter-spacing: -0.02em
    color: #D8E1F4
    margin-bottom: 20px


.select-container
    p
        font-family: TT Commons
        font-style: normal
        font-weight: normal
        font-size: 15px
        line-height: 17px
    h3
        font-family: TT Commons
        font-style: normal
        font-weight: normal
        font-size: 52px
        line-height: 86.1%
        letter-spacing: -0.02em
        margin-top: 43px
        margin-left: -3px
    .selectbox
        margin-top: -24px
        margin-left: -32px
        overflow: hidden
        select
            width: 378px
            height: 60px
            background: url(../images/select.png)
            border: 0
            appearance: none
            font-family: TT Commons
            font-style: normal
            font-weight: normal
            font-size: 20px
            line-height: 23px
            padding-left: 33px
            padding-top: 4px
            outline: none
            height: 0
            display: none
            


.next-but
    display: flex
    align-items: center
    justify-content: space-between
    float: right
    background: url(../images/next-but.png)
    background-repeat: no-repeat
    width: 378px
    height: 60px
    font-family: TT Commons
    font-style: normal
    font-weight: 500
    font-size: 20px
    line-height: 23px
    color: #fff
    margin-right: 6%
    padding-left: 33px

.next-but1
    display: block
    float: right
    background: url(../images/next-but.png)
    background-repeat: no-repeat
    width: 378px
    height: 60px
    font-family: TT Commons
    font-style: normal
    font-weight: 500
    font-size: 20px
    line-height: 23px
    color: #fff
    margin-right: 6%
    padding-left: 33px
    padding-top: 19px

.next-but:hover
    color: #fff
    text-decoration: none

.alc-cont
    width: 347px
    height: 69px
    margin-left: 449px
    margin-top: 16px
    span
        font-family: TT Commons
        font-style: normal
        font-weight: normal
        font-size: 20px
        line-height: 23px

.offer-container
    max-width: 1270px
    margin-left: auto
    margin-right: auto
    padding-left: 16px
    padding-right: 16px

.offer-sec
    background: url(../images/offer-bg.png)
    height: 979px
    width: 100vw
    padding-top: 100px
    background-position: center top
    background-repeat: no-repeat
    h1
        text-indent: 223px
        margin-top: 0
        font-family: TT Commons
        font-style: normal
        font-weight: normal
        font-size: 126px
        line-height: 87.1%
        letter-spacing: -0.02em
        color: #344683
    h3
        font-family: TT Commons
        font-style: normal
        font-weight: normal
        font-size: 40px
        line-height: 86.1%
        letter-spacing: -0.02em
        color: #344683
        max-width: 350px
        margin-top: -137px
        margin-left: 457px
    .down-but
        display: block
        margin-top: 95px
        margin-left: 10px
        font-family: TT Commons
        font-style: normal
        font-weight: normal
        font-size: 15px
        line-height: 86.1%
        letter-spacing: -0.02em
        color: #344683
        text-decoration: none
        max-width: 175px
        img
            margin-right: 22px
            transition: 0.25s
    .down-but:hover
        img
            transform: translateY(5px)
.test-sec
    h2
        font-family: TT Commons
        font-style: normal
        font-weight: normal
        font-size: 126px
        line-height: 87.1%
        letter-spacing: -0.02em
        color: #344683
        margin-top: 21px
        max-width: 830px
        text-indent: 0px
        margin-left: auto
        margin-right: auto
        position: relative
        right: -20px

.custom-container
    max-width: 1270px
    margin-left: auto
    margin-right: auto

.test-sec
    p
        max-width: 802px
        font-family: TT Commons
        font-style: normal
        font-weight: normal
        font-size: 20px
        line-height: 23px
        color: #344683
        margin-left: auto
        margin-top: 15px
    .num1
        max-width: 804px
        margin-left: auto
        font-family: TT Commons
        font-style: normal
        font-weight: normal
        font-size: 40px
        line-height: 86.1%
        letter-spacing: -0.02em
        color: #344683
        margin-top: 41px
.inside-container
    max-width: 1003px
    margin-left: auto
    margin-right: 30px

.adv-card
    margin-top: 46px
    img
        margin-left: 6px
    h3
        font-family: TT Commons
        font-style: normal
        font-weight: 500
        font-size: 40px
        line-height: 93.5%
        color: #344683
        margin-top: 41px
        margin-left: 6px
        letter-spacing: 0.5px
        margin-bottom: 24px
    p
        font-family: TT Commons
        font-style: normal
        font-weight: normal
        font-size: 15px
        line-height: 136%
        margin-left: 6px
        max-width: 81%
    .callback-but
        margin-left: 7px
        img
            margin-left: 11px

.adv-wrapper
    padding-left: 0

.doc-card
    img
        margin-left: 12px
    h3
        margin-left: 13px
        margin-bottom: 18px
    p
        margin-left: 12px
        max-width: 69%
    .callback-but
        margin-top: 37px
        margin-left: 13px
        img
            margin-left: 11px

.home-card
    img
        margin-left: 4px
    h3
        margin-left: 3px
        margin-bottom: 24px
    p
        margin-left: 2px
        max-width: 70%
    .callback-but
        margin-left: 3px
        img
            margin-left: 11px

.callback-but
    font-family: TT Commons
    font-style: normal
    font-weight: 500
    font-size: 20px
    line-height: 23px
    color: #344683
    display: block
    margin-top: 36px

.slider-container
    max-width: 1300px
    margin-left: auto
    margin-right: auto
    h2
        font-family: TT Commons
        font-style: normal
        font-weight: normal
        font-size: 126px
        line-height: 87.1%
        letter-spacing: -0.02em
        color: #344683
        margin-left: 27px
    > p
        max-width: 727px
        margin-left: auto
        margin-right: auto
        margin-bottom: 32px
        font-family: TT Commons
        font-style: normal
        font-weight: normal
        font-size: 20px
        line-height: 23px
        color: #344683
        position: relative
        left: 196px
        top: -5px


.hiv-slide
    .row
        display: flex
        align-items: center

.slider1
    padding-top: 233px
    background: url(../images/slider-bg.png)
    background-position: center top
    background-repeat: no-repeat
    padding-bottom: 243px

.button-container
    max-width: 382px
    margin-left: auto
    position: relative
    margin-top: -105px
    z-index: 2

.hiv-slider-wrap
    max-width: 820px
    margin-left: auto

.slide-num
    font-family: TT Commons
    font-style: normal
    font-weight: normal
    font-size: 40px
    line-height: 86.1%
    letter-spacing: -0.02em
    color: #D8E1F4
    margin-top: 16px
    margin-left: 1px
    margin-bottom: 21px
    span
        font-size: inherit
        color: inherit
        font-weight: inherit

.hiv-slide
    img
        margin-left: 1px
    h3
        font-family: TT Commons
        font-style: normal
        font-weight: 500
        font-size: 40px
        line-height: 46px
        color: #344683
        margin-left: 24px
        letter-spacing: 0.3px
        margin-bottom: 21px
    p
        margin-left: 23px
        letter-spacing: 0.47px
        font-family: TT Commons
        font-style: normal
        font-weight: normal
        color: #344683

.slide-button
    max-width: 200px
    display: inline-block
    margin-left: 10px
    margin-right: 45px
    cursor: pointer

.info-sec
    background: url(../images/info-bg.png)
    background-position: 0 337px
    background-repeat: no-repeat
    padding-bottom: 200px
    h2
        font-family: TT Commons
        font-style: normal
        font-weight: normal
        font-size: 126px
        line-height: 87.1%
        letter-spacing: -0.02em
        color: #344683
        margin-left: 60px
        margin-top: -2px
        text-indent: 221px
    .custom-container
        max-width: 1500px
    .custom-container > p
        max-width: 611px
        font-family: TT Commons
        font-style: normal
        font-weight: normal
        font-size: 20px
        line-height: 23px
        color: #344683
        margin-left: auto
        margin-right: 354px
        margin-top: 26px
        margin-bottom: 42px
    .slide-num
        display: block
        margin-left: auto
        max-width: 611px
        margin-right: 354px

.info-card-container
    max-width: 907px
    margin-left: auto
    margin-right: auto
    margin-top: 91px
    .info-card
        display: flex
        margin-bottom: 78px
.info-content
    margin-left: 68px
    margin-top: 15px
    h3
        font-family: TT Commons
        font-style: normal
        font-weight: 500
        font-size: 25px
        line-height: 29px
        color: #344683
        letter-spacing: 0.3px
        margin-bottom: 32px
    p
        letter-spacing: 0.45px
        font-family: TT Commons
        font-style: normal
        font-weight: normal
        color: #344683
        padding-right: 10px

.last-card-container
    max-width: 704px
    margin-left: auto
    margin-right: auto
    .last-content
        margin-left: 32px
        margin-top: 7px
        p
            font-family: TT Commons
            font-style: normal
            font-weight: normal
            font-size: 15px
            line-height: 17px
            color: #344683
    .last-card
        display: flex
        max-width: 584px
        margin-left: auto
        margin-top: 100px

.footer-card
    max-width: 585px
    margin-left: auto
    margin-top: 3px
    h3
        font-family: TT Commons
        font-style: normal
        font-weight: normal
        font-size: 40px
        line-height: 46px
        color: #344683
        margin-top: 43px
    p
        font-family: TT Commons
        font-style: normal
        font-weight: normal
        font-size: 10px
        line-height: 11px
        color: #BDCAE5
        margin-top: 53px
        max-width: 426px

.thanks-sec
    padding-top: 100px
    h1
        font-family: TT Commons
        font-style: normal
        font-weight: normal
        font-size: 126px
        line-height: 106.1%
        letter-spacing: -0.02em
        color: #38425C
        margin-top: 0
        text-align: center
        position: relative
        left: -138px
        top: -13px
        margin-bottom: 10px
    h2
        font-family: TT Commons
        font-style: normal
        font-weight: normal
        font-size: 52px
        line-height: 106.1%
        letter-spacing: -0.02em
        color: #38425C
        text-indent: 0
        max-width: 850px
        margin-top: -22px
        margin-left: 1px
.thanks-container
    background: url(../images/thanks-bg.png)
    background-repeat: no-repeat
    background-position: 0px 0px
    max-width: 1178px
    min-height: 499px
    margin-left: auto
    margin-right: auto

.check-container
    text-align: center
    margin-bottom: 100px
    > div
        text-align: center
        margin-bottom: 80px

.callback-sec
    background: url(../images/callback-bg.png)
    background-repeat: no-repeat
    background-position: 50px 0px

.offer-top
    display: block
    color: #D8E1F4
    font-size: 30px
    font-weight: 400
    letter-spacing: -0.02em
    pointer-events: all

.offer-fixed
    position: fixed
    top: 0
    left: 0

    width: 100%
    padding-top: 100px
    pointer-events: none
.callback-container
    max-width: 1290px
    margin-left: auto
    margin-right: auto
    padding-top: 100px
    padding-bottom: 125px
    h1
        font-family: TT Commons
        font-style: normal
        font-weight: normal
        font-size: 126px
        line-height: 99px
        letter-spacing: -0.02em
        color: #38425C
        text-indent: 222px
        margin-top: 7px
        margin-left: 22px
.form-container
    max-width: 822px
    margin-left: auto
    margin-top: 105px
    margin-right: 32px
    p
        font-family: TT Commons
        font-style: normal
        font-weight: normal
        font-size: 15px
        line-height: 17px
        color: #38425C
        margin-left: 32px
        margin-bottom: 34px
    select
        width: 378px
        height: 60px
        background: url(../images/select.png)
        border: 0
        appearance: none
        font-family: TT Commons
        font-style: normal
        font-weight: normal
        font-size: 20px
        line-height: 23px
        padding-left: 33px
        padding-top: 4px
        outline: none
        margin-bottom: 20px
        color: #CBD5E9
        cursor: pointer
        display: block!important
        pointer-events: none
        visibility: hidden
        position: absolute
        opacity: 0
    input
        border: 0
        min-width: 375px
        height: 60px
        padding-left: 32px
        background: url(../images/input.png)
        margin-bottom: 20px
        margin-left: 2px
        font-family: TT Commons
        font-style: normal
        font-weight: normal
        font-size: 20px
        line-height: 23px
        color: #CBD5E9
    .next-but
        float: left
        margin-left: 15px
        margin-top: 20px
    .next-but:hover
        color: #fff
        text-decoration: none

.tel-label
    font-family: TT Commons
    font-style: normal
    font-weight: normal
    font-size: 15px
    line-height: 17px
    color: #DADDE5
    position: absolute
    margin-top: -19px
    margin-left: 32px

.queez
    padding-bottom: 50px
    .num-container
        margin-top: 132px
        margin-bottom: 0px

.callback-modal
    position: fixed
    top: 0
    left: 0
    min-height: 100vh
    max-height: 100vh
    overflow: auto
    overflow-x: hidden
    width: 100vw
    z-index: 3
    background: #fff
    padding-bottom: 100px
    display: none

.thanks-modal
    position: fixed
    top: 0
    left: 0
    max-height: 100vh
    overflow: auto
    width: 100vw
    z-index: 20
    background: #fff
    padding-bottom: 100px
    display: none

.form-container
    input
        outline: none
        color: #000

.thanks-but
    border: 0px

.tab-sec
    padding-bottom: 100px
    .hiv-label
        display: inherit
    h1
        font-family: TT Commons
        font-style: normal
        font-weight: normal
        font-size: 66px
        line-height: 106.1%
        letter-spacing: -0.02em
        color: #38425C

.tab-container
    max-width: 1139px
    margin-left: auto
    margin-right: 48px

.tab-head
    max-width: 1157px
    .head-addr, .head-name, .head-time
        font-family: TT Commons
        font-style: normal
        font-weight: normal
        font-size: 15px
        line-height: 17px
        color: #DADDE5
        padding-left: 38px
        padding-bottom: 14px
    .head-name
        padding-left: 53px
    .head-time
        text-align: center
        padding-left: 61px
.col-addr
    min-width: 25%
    display: inline-block

.col-name
    min-width: 25%
    display: inline-block

.col-time
    min-width: 25%
    display: inline-block

.col-map
    min-width: 25%
    display: inline-block

.tab-row
    padding-top: 26.5px
    padding-bottom: 26.5px
    border-bottom: 1px solid #DADDE5
    border-top: 1px solid #DADDE5
    margin-bottom: -1px
    display: flex
    transition: all .4s ease
    &:hover
        border-color: #939EB9
        + .tab-row
            border-top-color: #939EB9
        .col-map
            img
                transform: translateX(16px)
    .col-addr
        font-family: TT Commons
        font-style: normal
        font-weight: normal
        font-size: 15px
        line-height: 17px
        color: #38425C
        padding-left: 40px
        display: flex
        align-items: center
    .col-name
        font-family: TT Commons
        font-style: normal
        font-weight: normal
        font-size: 40px
        line-height: 46px
        color: #38425C
        padding-left: 50px
        display: flex
        min-width: 32.7%
        align-items: center
    .col-time
        font-family: TT Commons
        font-style: normal
        font-weight: normal
        font-size: 15px
        line-height: 17px
        color: #38425C
        text-align: center
        padding-left: 40px
        min-width: 22.5%
        display: flex
        align-items: center
    .col-map
        text-align: center
        padding-left: 30px
        display: flex
        align-items: center
        a
            font-family: TT Commons
            font-style: normal
            font-weight: 500
            font-size: 20px
            line-height: 23px
            color: #FAAB35
            text-decoration: none
            img
                margin-left: 41px
                transition: all .3s ease
.tabinfo-container
    max-width: 830px
    margin-left: auto
    padding-top: 7px
    margin-bottom: 55px
    div
        display: inline-block
        width: calc(35% - 2px)
        font-family: TT Commons
        font-style: normal
        font-weight: normal
        font-size: 20px
        line-height: 23px
        color: #38425C
        p
            max-width: 200px
    a
        color: #FAAB35
        text-decoration: underline
    a:hover
        color: #FAAB35
        text-decoration: none

.form-container
    .next-but
        text-align: left
        padding-top: 0px

#fullpage
    max-width: 100vw

.queez-right
    display: none

.next-but:focus
    outline: none
    color: #fff
    text-decoration: none

.next-but
    transition: 0.25s
    img
        float: right
        margin-right: 37px
        transition: 0.25s

.next-but:hover
    img
        margin-right: 40px
        animation: 1.7s infinite move

@keyframes move
    0%
        margin-right: 50px
    50%
        margin-right: 40px
    100%
        margin-right: 50px

.queez1
    position: relative
    .elem-bg
        position: absolute
        top: 300px
        left: 200px

.queez1
    position: relative
    .elem-bg
        position: absolute
        top: 300px
        left: 300px

.queez2
    position: relative
    .elem-bg:nth-child(1)
        position: absolute
        top: 400px
        left: 300px
    .elem-bg:nth-child(2)
        position: absolute
        top: 200px
        right: 300px

.queez3
    position: relative
    .elem-bg:nth-child(1)
        position: absolute
        top: 300px
        right: 600px
    .elem-bg:nth-child(2)
        position: absolute
        top: 200px
        right: 100px

.queez4
    position: relative
    .elem-bg:nth-child(1)
        position: absolute
        top: 600px
        left: 300px
    .elem-bg:nth-child(2)
        position: absolute
        top: 350px
        right: 350px

.queez5
    position: relative
    .elem-bg:nth-child(1)
        position: absolute
        top: 400px
        left: 300px
    .elem-bg:nth-child(2)
        position: absolute
        top: 200px
        right: 300px

.queez6
    position: relative
    .elem-bg:nth-child(1)
        position: absolute
        top: 300px
        right: 600px
    .elem-bg:nth-child(2)
        position: absolute
        top: 200px
        right: 100px

.queez7
    position: relative
    .elem-bg:nth-child(1)
        position: absolute
        top: 300px
        right: 600px
    .elem-bg:nth-child(2)
        position: absolute
        top: 200px
        right: 100px

.queez8
    position: relative
    .elem-bg:nth-child(1)
        position: absolute
        top: 600px
        left: 300px
    .elem-bg:nth-child(2)
        position: absolute
        top: 350px
        right: 350px

.queez9
    position: relative
    .elem-bg:nth-child(1)
        position: absolute
        top: 400px
        left: 300px
    .elem-bg:nth-child(2)
        position: absolute
        top: 200px
        right: 300px

.queez10
    position: relative
    .elem-bg:nth-child(1)
        position: absolute
        top: 600px
        left: 300px
    .elem-bg:nth-child(2)
        position: absolute
        top: 350px
        right: 350px

.queez11
    position: relative
    .elem-bg:nth-child(1)
        position: absolute
        top: 300px
        right: 600px
    .elem-bg:nth-child(2)
        position: absolute
        top: 200px
        right: 100px

/* nth-child(2) */

.elem-bg
    opacity: 0
    transition: 1s
    transform: scale(0.5)

.elem-bg-active
    opacity: 1
    transform: scale(1)

.slide-border
    display: none

select
    cursor: pointer

select::-webkit-scrollbar
    display: none

.nice-select:active, .nice-select.open, .nice-select:focus
        border: 0px

.nice-select
    border: 0
    width: 100%

.nice-select .list
    box-shadow: inherit

.select-wrapper
    background: url(../images/select.png)
    width: 378px
    height: 60px
    padding-right: 20px
    padding-left: 20px
    padding-top: 5px
    padding-bottom: 10px
    display: inline-block

.form-container
    .select-wrapper
        margin-bottom: 17px

.select-active > div
    overflow-y: scroll

.select-active > div::-webkit-scrollbar
    display: none

.nice-select:after
    display: none

.nice-select.open
    .list
        width: 100%
    .option
        &:first-child
            display: none

.nice-select:after
    background: url(../images/after-arrow.png) no-repeat
    width: 18px
    height: 10px
    display: block
    position: absolute
    right: 17px
    content: ''
    z-index: 10
    margin-left: auto
    transform: rotate(0)
    border: 0

.nice-select
    font-family: TT Commons
    font-style: normal
    font-weight: normal
    font-size: 20px
    line-height: 23px
    color: #38425C
    padding-top: 12px
    padding: 0
    .option
        line-height: 22px
        min-height: 22px
        padding: 0
        background: #fff
    .list
        position: relative
        top: auto
        left: auto
        margin: 0
        padding-left: 18px
        padding-right: 30px
    .current
        display: block
        padding-top: 12px
        padding-left: 18px
        padding-right: 30px

.nice-select .option.selected
    font-weight: 400

.nice-select .option:hover, .nice-select .option.focus, .nice-select .option.selected.focus
    text-decoration: underline
    background: none

.select-wrapper
    > div
        height: calc(100% - 5px)
        margin-top: 3px

.nice-select.open:after
    transform: rotate(-180deg)

.select-active
    background: url(../images/select-active.png)
    min-height: 120px

.callback-but
    img
        transition: 0.25s

.callback-but:hover
    text-decoration: none
    img
        transform: translateX(10px)

.slide-img-sec
    img
        max-width: 100%

.offer-sec
    .hiv-label
        font-size: 15px
        text-indent: 0
        left: 20px
        margin-top: 15px

.slider-container
    h2
        .hiv-label
            font-size: 15px
            text-indent: 0
            margin-left: -120px

.num2
    position: absolute
    font-family: TT Commons
    font-style: normal
    font-weight: normal
    font-size: 30px
    line-height: 86.1%
    letter-spacing: -0.02em
    color: #F0F5FF
    margin-top: 50px
    margin-left: 20px

label.error
  position: absolute
  padding-right: 39px
  right: 0
  bottom: 0px
  text-align: right
  font-size: 14px
  font-family: TT Commons
  display: block
  color: red
  @media screen and (max-width: 992px)
    padding-right: 17px
  // transform: translateY(-8px)
  @media screen and (max-width: 768px)
    width: 277px
    margin: 0 auto
    padding: 0
    padding-right: 32px
    text-align: right

.footer-bottom
    position: relative
    display: flex
    align-items: center
    p
        margin: 0

#fullpage
    outline: none
    .slick-slide
        outline: none

.page-line
    content: ''
    position: fixed
    top: 0
    left: 0
    z-index: 100

    display: block
    width: 8.33333333333%
    height: 1px
    pointer-events: none
    background: linear-gradient(90deg, #FBE236 1.67%, #FBB036 100%)
    transition: all .4s ease
    &--full
        width: 100%
    &--result-no
        width: 44%

.footer-copy
    position: absolute
    top: 0
    left: -38%
    display: block
    font-size: 10px
    max-width: 60px
    color: #BDCAE5
    font-weight: 400

.select-wrapper
  .input--error
    label.error
      bottom: -32px
      padding-right: 0

::-ms-input-placeholder
  color: #CBD5E9
::placeholder
  color: #CBD5E9

#js-callback-form
  @media screen and (max-width: 992px)
    max-width: 375px
    margin: 0 auto
  @media screen and (max-width: 768px)
    max-width: 300px
.input--error
  position: relative
@import "media" // Всегда в конце
